/* Global Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

/* Header */
header {
    box-shadow: 0 4px 2px -2px gray; /* Tambahkan bayangan saat logo sticky */
    background-color: #333;
    color: white;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px; /* Mengatur tinggi header secara eksplisit */
}

header .logo h1 {
    margin-left: 20px;
}

/* Agar Tabel responsif pada layar kecil */
@media (max-width: 768px) {
    .datasheet-table, .datasheet-table th, .datasheet-table td {
        display: block;
        width: 100%;
        text-align: left;
    }

    .datasheet-table th, .datasheet-table td {
        padding: 10px;
    }

    .product-image {
        max-width: 100px;
        max-height: 70px;
    }

    .download-btn {
        padding: 6px 12px;
    }
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-right: 20px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Banner */
.banner {
    background: url('images/gambar1.jpg') no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 100px 20px;
    color: white;
    margin-bottom: 10px; /* Mengurangi jarak bawah banner */
}

.banner h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.cta-btn {
    background-color: #ff5722;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.search-container .item-count {
    font-size: 14px;
    color: #555;
}

.search-container input {
    padding: 5px;
    width: 200px;
}

.search-container button {
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #1976D2;
}

/* Styling untuk Tabel Datasheet */
.categories-container {
    padding: 50px 20px;
    background-color: #ffffff;
    text-align: center;
    margin-top: 15px; /* Menghilangkan jarak atas pada container tabel */
    padding-top: 15px; /* Menghilangkan padding atas jika ada */
}

.datasheet-table {
    width: 100%;  /* Memastikan tabel mengambil seluruh lebar kontainer */
    max-width: 1700px;  /* Mengatur lebar maksimum tabel */
    margin-left: 0;  /* Mepetkan tabel ke kiri */
    margin-right: 0;  /* Mepetkan tabel ke kanan */
    border-collapse: collapse;
    background-color: white;  /* Menjaga latar belakang tabel tetap putih */
}

.datasheet-table th, .datasheet-table td {
    padding: 1px 4px;  /* Mengurangi padding lebih lanjut untuk mengecilkan tinggi baris */
    border: 1px solid #c0bdbd;
    text-align: center;
    vertical-align: middle;  /* Menjaga elemen tetap sejajar secara vertikal */
    height: 15px;  /* Mengatur tinggi baris secara eksplisit lebih kecil */
    font-size: 12px;  /* Menurunkan ukuran font sedikit */
    color: black;  /* Mengubah warna teks menjadi hitam */
}

.datasheet-table th {
    background-color: #e6e3e3;
    color: black;  /* Mengubah warna teks header menjadi hitam */
}

.datasheet-table tr:nth-child(even) {
    background-color: #ffffff;
}

/* Menentukan lebar kolom 'Manufactur' (Lebar tetap) */
.datasheet-table td:first-child, .datasheet-table th:first-child {
    width: 200px;  /* Lebar kolom Komponen */
    height: 5px;  /* Mengatur tinggi baris pada kolom pertama */
}

/* Memperbesar gambar di kolom 'manufactur' */
.datasheet-table td:first-child .product-image {
    max-width: 80px;  /* Memperbesar lebar gambar */
    max-height: 60px;  /* Memperbesar tinggi gambar */
}

/* Menentukan lebar kolom 'Gambar' (Lebar tetap) */
.datasheet-table td:nth-child(2), .datasheet-table th:nth-child(2) {
    width: 150px;  /* Lebar kolom Gambar */
    height: 5px;  /* Mengatur tinggi baris pada kolom pertama */
}

/* Menentukan lebar kolom 'Komponen' (Lebar lebih lebar) */
.datasheet-table td:nth-child(3), .datasheet-table th:nth-child(3) {
    width: 100px;  /* Lebar kolom Deskripsi */
    height: 5px;  /* Mengatur tinggi baris pada kolom pertama */
}

/* Menentukan lebar kolom 'Datasheet' (Lebar tetap) */
.datasheet-table td:nth-child(4), .datasheet-table th:nth-child(4) {
    width: 70px;  /* Lebar kolom Unduh */
    height: 5px;  /* Mengatur tinggi baris pada kolom pertama */
}

/* Menentukan lebar kolom 'Deskripsi' (Lebar tetap) */
.datasheet-table td:nth-child(5), .datasheet-table th:nth-child(5) {
    width: 650px;  /* Lebar kolom Unduh */
    height: 5px;  /* Mengatur tinggi baris pada kolom pertama */
}

/* Memberikan warna latar belakang putih pada kolom 'Gambar' */
.datasheet-table td:nth-child(2) {
    background-color: white;  /* Menjaga latar belakang kolom 'Gambar' tetap putih */
}

.product-image {
    max-width: 60px;  /* Mengatur ukuran gambar agar lebih kecil */
    max-height: 50px;  /* Mengatur tinggi gambar agar lebih kecil */
    margin: 0 auto;
}

/* Styling untuk ikon PDF */
.pdf-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

/* Styling untuk tombol unduh dengan ikon */
.download-btn {
    display: inline-block;
    padding: 2px 6px;  /* Mengurangi padding pada tombol download */
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: transparent;
    color: #2196F3;
    vertical-align: middle;
}

.download-btn:hover {
    color: #1976D2;
}


/* Menambahkan penyesuaian untuk responsivitas pada layar kecil */
@media (max-width: 768px) {
    .datasheet-table, .datasheet-table th, .datasheet-table td {
        display: block;
        width: 100%;
        text-align: left;
    }

    .datasheet-table th, .datasheet-table td {
        padding: 8px;
    }

    .product-image {
        max-width: 80px;
        max-height: 60px;
    }

    .download-btn {
        padding: 6px 10px;
    }
}

/* About Section */
.about-container {
    padding: 50px 20px;
    text-align: center;
    background-color: #fafafa;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer a {
    color: white;
    text-decoration: none;
}

.old-version-datasheet {
    color: red;  /* Mengubah warna teks menjadi merah */
}

/* Memberikan warna merah pada angka dalam item-count */
.item-count-number {
    color: red; /* Ganti dengan warna merah */
    font-weight: bold; /* Membuat angka sedikit lebih tebal */
}

#search-input {
    width: 1000px; /* Anda bisa menyesuaikan angka ini sesuai keinginan */
    padding: 5px; /* Memberikan padding agar lebih nyaman untuk mengetik */
    font-size: 16px; /* Memperbesar ukuran font jika diperlukan */
}

/* Memastikan tombol 'Cari' sesuai dengan input */
button {
    padding: 10px 15px; /* Memberikan padding agar tombol lebih besar dan nyaman */
    font-size: 16px; /* Ukuran font tombol yang lebih besar */
}

/* Memberikan warna abu-abu pada teks revision date */
.revision-date {
    color: #808080;  /* Warna abu-abu */
    font-size: 12px;  /* Ukuran font lebih kecil agar tidak terlalu mencolok */
}

/* Mengatur tampilan tautan */
.email-link, .social-link {
    color: #007bff;  /* Mengatur warna link menjadi biru */
    text-decoration: none;  /* Menghapus garis bawah dari tautan */
    font-weight: normal;  /* Membuat teks tidak tebal */
    display: inline-flex;  /* Agar logo dan teks berada dalam satu baris */
    align-items: center;  /* Menjaga logo dan teks sejajar */
    transition: color 0.3s, text-decoration 0.3s;  /* Menambahkan transisi untuk perubahan warna dan underline */
}

/* Mengatur tampilan saat hover */
.email-link:hover, .social-link:hover {
    color: #0056b3;  /* Menambahkan warna biru lebih gelap saat hover */
    text-decoration: underline;  /* Memberikan garis bawah saat hover */
}

/* Mengatur jarak antara icon dan teks */
.email-logo, .social-logo {
    width: 20px;  /* Ukuran logo */
    height: auto;
    vertical-align: middle;  /* Menjaga gambar sejajar dengan teks */
    margin-right: 5px;  /* Mengurangi jarak antara gambar dan teks */
}

.social-link {
    margin-top: 0%;
}

.email-link {
    margin-bottom: 0%;
}

/* Mengatur tampilan untuk perangkat mobile */
@media (max-width: 768px) {

    /* Header */
    header {
        padding: 10px 15px; /* Mengurangi padding pada header */
        height: auto; /* Menyesuaikan tinggi header untuk lebih fleksibel */
        flex-direction: column; /* Menata logo dan navigasi vertikal */
        align-items: flex-start; /* Menyusun elemen secara vertikal */
    }

    header .logo h1 {
        font-size: 18px; /* Menurunkan ukuran font logo */
        margin-left: 0; /* Menjaga jarak logo dekat dengan kiri */
    }

    nav ul {
        flex-direction: column; /* Menyusun menu navigasi secara vertikal */
        margin-right: 0;
        margin-top: 10px; /* Memberikan jarak antar menu */
    }

    nav ul li {
        margin-right: 0; /* Menghilangkan margin kanan */
        margin-bottom: 10px; /* Memberikan jarak antar item navigasi */
    }

    nav ul li a {
        font-size: 14px; /* Menurunkan ukuran font untuk navigasi */
    }

    /* Banner */
    .banner {
        padding: 50px 10px; /* Mengurangi padding di banner */
    }

    .banner h2 {
        font-size: 2em; /* Mengurangi ukuran teks pada banner */
        margin-bottom: 10px;
    }

    .cta-btn {
        padding: 8px 15px; /* Menyesuaikan ukuran tombol */
        font-size: 16px; /* Ukuran font tombol lebih kecil */
    }

    /* Tabel Datasheet */
    .datasheet-table, .datasheet-table th, .datasheet-table td {
        display: block; /* Mengubah tabel menjadi format block agar lebih mudah dibaca di mobile */
        width: 100%;
    }

    .datasheet-table th, .datasheet-table td {
        padding: 12px 5px; /* Menyesuaikan padding untuk elemen tabel */
        text-align: left; /* Memperbaiki alignment */
    }

    .datasheet-table td:first-child, .datasheet-table th:first-child {
        width: auto; /* Menyesuaikan lebar kolom pertama */
    }

    .datasheet-table td:nth-child(2), .datasheet-table th:nth-child(2) {
        width: auto; /* Menyesuaikan lebar kolom gambar */
    }

    /* Memperbesar gambar produk di tabel */
    .product-image {
        max-width: 100px;
        max-height: 75px;
    }

    /* Footer */
    footer {
        padding: 15px 10px; /* Mengurangi padding footer */
    }

    .email-link, .social-link {
        font-size: 14px; /* Ukuran font lebih kecil untuk link di footer */
        margin-bottom: 8px; /* Memberikan jarak antar link */
    }

    /* Menambahkan padding pada tombol pencarian di mobile */
    .search-container input {
        width: 150px; /* Mengurangi lebar input pencarian */
        padding: 5px;
        font-size: 14px; /* Mengurangi ukuran font di input */
    }

    .search-container button {
        padding: 5px 10px;
        font-size: 14px; /* Ukuran font tombol lebih kecil */
    }

    /* Menyusun elemen About Section agar lebih compact */
    .about-container {
        padding: 30px 10px; /* Mengurangi padding pada about */
    }

    /* Ikon PDF */
    .pdf-icon {
        width: 20px;
        height: 20px; /* Ukuran ikon lebih kecil */
    }
    
    .download-btn {
        font-size: 14px; /* Ukuran font lebih kecil pada tombol download */
        padding: 5px 10px; /* Menyesuaikan padding tombol download */
    }

    /* Social Media Links */
    .social-link {
        margin-top: 5px; /* Mengurangi jarak antar sosial link */
    }
}

